body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    max-width: 400px;
    margin:auto ;
}

.input -group {
    display: block;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: #2a28a7;
}

#results {
    margin-top: 20px;
    padding: 15px;
    background: #a7288c;
    border-radius: 5px;
}
